<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>@TITLE@</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="images/style.css">
<base href="@BASEURL@/" />
</head>

<body>
<table width="100%"  border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td height="76" background="images/bg_header_mi.gif" bgcolor="#fffaf5"><a
	href="@URL@" title="home"><img src="@LOGO@" /></a></td>
  </tr>
  <tr>
    <th align="left" valign="middle" bgcolor="#FFFFFF"><table width="100%"  border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td>
		<a href="@URL@">Home</a>
		<a href="createsd.php" target="_blank">Create new inventory site</a>
		<a href="index.php?a=2">Add landing site</a>
		<a href="editor-crontab.php" target="_blank">Crontab Editor</a>
		<a href="disableonedollarau.php" target="_blank">Disable $1 Sales</a>
		<!--
		<a href="index.php?a=1">Add MI subdomain</a>
		<a href="index.php?a=3">Add sale</a>
		-->
		</td>
      </tr>
    </table>    
  </tr>
  <tr>
    <td align="center" valign="top" bgcolor="#FFFFFF">
    <table width="100%"  border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td width="30%" align="left" valign="top">@MENU@</td>
        <td align="center" valign="top">@DATA@</td>
      </tr>
    </table>
	</td>
  </tr>
</table>
</body>
</html>
